body {
	background-color: #1e1f24;
	color: #333;

	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 14px;
	padding: 0px;
}

.cabecera {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(30, 30, 133);
	color: white;
	margin: 0px;
	padding: 20px 10px 20px 10px;
	font-size: 2.5rem;
	font-weight: bold;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.imadra {
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

.container {
	width: 70%;
	padding: 0px;
	text-align: left;
	border: 1px solid #ddd;
	margin: 0 auto;
	background-color: white;
}

.container h1 {
	font-size: 20px;
	margin-top: 30px;
}

.tagline {
	font-weight: normal;
	font-size: 1.5rem;
	padding: 0 0 0 2em;
}

.gi {
	display: block;
	margin: 10px auto;
	border: 5px solid black;
	width: auto;
}

.foot {
	background-color: #777;
	color: white;
	text-align: center;
	padding: 0.3em;
}
